{% extends "blogs/base.html" %}

{% block header %}
	<div class="panel panel-default">
            <div class="panel-heading">
    		<h2>Postagens</h2>
	    </div>
	</div>
{% endblock header %}

{% block content %}
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a href="{% url 'blogs:detailPost' post.id%}">{{ post.titulo }}</a>
                </h3>
                <h4>
                    {{ post.dataAdd|date:'M d, Y H:i' }}
                </h4>
            </div>
            <div align="justify">
                <p>
                    {{ post.textResumo|linebreaks }}
                </p>
            </div>
        </div>
    {% empty %}
        <h5>
            Sem postagens.
        </h5>
    {% endfor %}
{% endblock content%}
