{% extends "blogs/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Blog Noticias</title>
</head>
<body>
    {% for post in posts %}
        <li>
            {% if user.id == post.usuario.id %}
                <p>Titulo: <a href="{% url 'blogs:editPost' post.id %}">{{ post.titulo }}</a></p>
            {% else %}
                <p>Titulo: {{ post.titulo }}</p>
            {% endif %}
            <p>Data: {{ post.dataAdd|date:'M d, Y H:i' }}</p>
            <p> {{post.texto|linebreaks }}</p>
        </li>
    {% empty %}
        <li>
            Sem postagens.
        </li>
    {% endfor %}
</body>
{% endblock content%}